/* Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: rgb(255, 255, 255);
$accent: rgb(112, 181, 107);
$black: rgb(33, 74, 79);
$primary: rgb(175, 208, 174);
$secondary: rgb(83, 121, 89);
$tertiary: rgb(193, 219, 118);
